<a href="https://colab.research.google.com/github/NMPau/hw/blob/main/ml1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
cd drive/My\ Drive

/content/drive/My Drive

In [4]:
cd Colab\ Notebooks

/content/drive/My Drive/Colab Notebooks

In [5]:
cd DA

/content/drive/My Drive/Colab Notebooks/DA

In [46]:
titanic = pd.read_csv('titanic.csv')

In [47]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
titanic.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [49]:
titanic['Age'].fillna(titanic['Age'].mean(), inplace=True)

In [50]:
sex_with_num = {
    'male': 0,
    'female': 1,
}
titanic['sex_with_num'] = titanic['Sex'].apply(lambda x: sex_with_num[x])

In [51]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sex_with_num
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [52]:
df = titanic.drop(['PassengerId', 'Fare', 'Cabin', 'Embarked', 'Name', 'Ticket', 'Sex'], axis = 1)

In [53]:
df.corr()

              Survived    Pclass       Age     SibSp     Parch  sex_with_num
Survived      1.000000 -0.338481 -0.069809 -0.035322  0.081629      0.543351
Pclass       -0.338481  1.000000 -0.331339  0.083081  0.018443     -0.131900
Age          -0.069809 -0.331339  1.000000 -0.232625 -0.179191     -0.084153
SibSp        -0.035322  0.083081 -0.232625  1.000000  0.414838      0.114631
Parch         0.081629  0.018443 -0.179191  0.414838  1.000000      0.245489
sex_with_num  0.543351 -0.131900 -0.084153  0.114631  0.245489      1.000000

In [54]:
RANDOM_SEED = 42

In [55]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Age', axis = 1),
                                              df['Age'],
                                              test_size = 0.30,
                                              random_state = RANDOM_SEED)

In [56]:
X_train.head()

     Survived  Pclass  SibSp  Parch  sex_with_num
445         1       1      0      2             0
650         0       3      0      0             0
172         1       3      1      1             1
450         0       2      1      2             0
314         0       2      1      1             0

In [57]:
print(X_train.shape,X_test.shape)

(623, 5) (268, 5)

In [58]:
model = LinearRegression()

In [59]:
model.fit(X_train,y_train)

LinearRegression()

In [65]:
pred = model.predict(X_test)

In [63]:
import numpy
rounded = [numpy.round(x) for x in pred]

In [67]:
df_with_predict = X_test

In [68]:
df_with_predict['real_value'] = y_test

In [69]:
df_with_predict['predict'] = rounded

In [70]:
df_with_predict.head()

     Survived  Pclass  SibSp  Parch  sex_with_num  real_value  predict
709         1       3      1      1             0   29.699118     21.0
439         0       2      0      0             0   31.000000     35.0
840         0       3      0      0             0   20.000000     29.0
720         1       2      0      1             1    6.000000     28.0
39          1       3      1      0             1   14.000000     22.0

In [71]:
df_with_predict[['real_value','predict']]

     real_value  predict
709   29.699118     21.0
439   31.000000     35.0
840   20.000000     29.0
720    6.000000     28.0
39    14.000000     22.0
..          ...      ...
821   27.000000     24.0
633   29.699118     40.0
456   65.000000     40.0
500   17.000000     29.0
430   28.000000     35.0

[268 rows x 2 columns]

In [78]:
from sklearn.metrics import r2_score
print(f'R^2 test: {r2_score(y_test, pred)}')

R^2 test: 0.22339346824187245

In [79]:
print('MAE on Linear Regression', mean_absolute_error(y_test, pred))

MAE on Linear Regression 8.53150552072943